*{
    margin:0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
body{
    background-color: #000814;
}
.main{
    background-color: #003566;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.close{
    position: absolute;
    transform: translate(-80%,-100%);
}
.close img{
    width: 25px;
    height: 25px;
    margin-bottom: -10px;
}
img{
    margin-bottom: -12px;
    width: 35px;
    height: 35px;
}
.title{
    text-align: center;
}
.title span{
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 5px;
}
.uname,.pass,.login-btn,.title,.sign-up{
    font-family: 'Dongle', sans-serif;
    padding: 0px 95px;
    margin: 20px 0px;
}
.sign-up{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.title{
    margin-top: 30px;
    margin-bottom: 40px;
}
.login-btn{
    position: relative;
    height: 35px;
}
input[type='text'], input[type='password']{
    margin-left: 3px;
    width: 230px;
    padding: 7px 15px;
    font-weight: bold;
}
input[type='submit']{
    background-color: #f1faee;
    font-weight: bolder;
    border: 3px solid white;
    position: absolute;
    border-radius: 5px;
    padding: 5px 20px;
    right: 0;
    margin-right: 99px;
}
input[type='submit']:hover{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.forget{
    padding: 7px 3px;
    border: none;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
.forget:hover{
    margin-left: -3px;
    letter-spacing: 1px;
}
.su-text{
    color: white;
}
.su-text a{
    color: #3a86ff;
    font-weight: bold;
    text-decoration: none;
}
.su-text a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 600px){
    .main{
        padding: 0;
        max-width: 100%;
    }
    .uname,.pass,.login-btn,.title,.sign-up{
        padding: 0;
        text-align: center;
    }
    input[type='submit']{
        margin: 0 auto;
        margin-bottom: 5px;
        display: block;
        position: relative;
    }
    .title{
        margin-top: 50px;
    }
    .close{
        display: none;
    }
}